/* 
   Smokin' BBQ style sheet 
   Filename: styles.css

   Author: Group 3: Tan Ragland, Leo Simmons, Kathy Ntalaja, Bobbie Moore  
   Date:  July 20, 2019   
   HTML5 and CSS3 Final Project Group 3
 */

/* reset styles */
html {
   font-size: 14px;
}
a, article, body, div, figcaption, figure, footer, header, h1, h2, h3, img, li, nav, p, fieldset, form, input, label, legend, textarea, section, ul {
   border: 0;
   padding: 0;
   margin: 0;
}
img {
   max-width: 100%;
   height: auto;
   width: auto;
/*   display: block;  */
}
ul {
   list-style-type: none;
}
table {
   border-collapse: collapse;
   border-spacing: 0;
}

/* body and page container */
body {
   background: #c68c53;
   background: url("../images/vintage.jpg");
   font-family: Arial, Helvetica, sans-serif;
}
a:link {
   color: black;
}
a:visited {
   color: #888;
}
.container {
   max-width: 800px;
   margin: 0 auto;
   position: relative;
   background-color: #c68c53;
/*   top: 6.2em;     */
}
p {
   font-size: 1.2em;
}

/* skip navigation link */
p.skipnavigation a {
   position: absolute;
   left: -10000px;
}
p.skipnavigation a:focus {
   color: black;
   background: ivory;
   background-color: #34180f; /* black */
   top: 0.4em;
   left: auto;
   right: 0.4em;
   z-index: 2;
}

/* header section */
header {
   width: 80%;
   float: left;
   max-width: 100%;
   height: auto;
   width: auto;
   display: block; 
}
h1 {
   text-align: center;
   font-family: Bitter, "Times New Roman", Times, serif;
   font-weight: 700;
   color: #34180f;
   font-size: 2.4em;
}
h1 img {
   margin: 0 auto;
}

/* site navigation bar */
nav.sitenavigation {
   max-width: 16%;
   padding: 3%;
   float: left;
   position: relative;
   color: white;
   margin: 8px;
/*   left-margin: 2%;   */
   border: 1px solid black;
   background-color: ivory;
}
nav.sitenavigation ul {
   background: url("Assets/Images/vintage.jpg");
   border: 3px solid #34180f;
   display: none;
   position: absolute;
   right: 5%;
   top: 70%;
   z-index: 2;
}
nav.sitenavigation li {
   margin: 0.3em 0.5em;
   font-size: 1.3em;
   line-height: 1.4em;
   text-align: left;
}
nav.sitenavigation a:link {
   text-decoration: none;
   color: #34180f;
}
nav.sitenavigation a:visited {
   color: #744f42;
}
nav.sitenavigation a:hover, nav.sitenavigation a:focus {
   color: red;
}
div.navigation-menu-button {
	float: right;
}

/* main content */
article {
   width: 75%;
   float: right;
   padding: 1.4em;
   background: ivory;
   margin: 10px;
   max-width: 700px;
   background-color: #c68c53;
}
article div {
/*   margin: 0 auto;
   padding: 0 3% 1em;  */
   background-color: ivory;
}
aside {
	width:25%;  
	padding: 1em 0;
	background-color: ivory;
}
section {
   border: 1px solid black;
   padding: 2% 4% 5em;
   margin: 2% 0;
   overflow: auto;
   position: relative;
   background-color: white;
   box-shadow: 0 10px 6px -6px #777;
}
section p {
   clear: left;
}
section p:first-of-type {
	display: none;
}
h2 {
   padding: 0.4em 0.4em 0;
   text-align: center;
   font-family: Bitter, "Times New Roman", Times, serif;
   font-size: 2em;
   font-weight: 700;
}
h3 {
   margin: 0.5em 0;
   font-size: 1.6em;
   font-family: Bitter, "Times New Roman", Times, serif;
   font-weight: 700;
   clear: both;
}
.top-link {
   margin: 0 4% 4%;
   position: absolute;
   bottom: 0;
   right: 0;
}
.top-link a {
   padding: 3px 6px;
   border: 2px solid #777;
   display: inline-block;
   background-color: #ebf8fa;
   border-radius: 0.6em;
}
.top-link a:link {
   text-decoration: none;
}
.top-link a:visited {
   color: black;
}
.top-link a:hover, .top-link a:focus {
   border-color: #34180f;
   color: white;
   background-color: #34180f;
}
article h2 {
	font-family: Algerian;
}

/* form styles */
form {
	padding:10px;
}

/* fieldset styles */
fieldset {
	margin-bottom: 0.8em;
}
fieldset fieldset {
	margin-top: 1em;
	padding: 0.8em;
	border: 1px solid #777;
}
legend {
	font-size: 1.15em;
}
/*
.contactinfo legend, .reserveinfo > legend, .additionalinfo legend {
	margin-left: -0.1em;
	font-weight: bold;
}
*/

/* field styles */
.contactinfo input, textarea {
	border: 1px solid #ccc;
	padding: 0.2em;
	font-size: 1em;
}
select {
	margin-bottom: 0.6em;
}
.contactinfo input {
	position: absolute;
	left: 5em;
}
.date-picker label {
	position: absolute;
	left: -10000px;
}
.schedule input {
	position: absolute;
	left: 10em;
}
#firstnameinput, #lastnameinput, #emailinput {
	width: 20em;
}
#phoneinput {
	width: 12em;
}

/* label styles */
label {
	font-size: 1em;
	line-height: 1.6em;
}
.contactinfo label {
	display: block;
	position: relative;
	margin: 0.8em 0;
}
.contactinfo input {
	position: absolute;
	left: 6em;
}
.submitbutton {
	margin: 0 auto;
}
.reserveinfo {
	width: 14em;
}
#submit {
	border: 2px solid #999;
	font-size: 1.2em;
	font-weight: bold;
	background-color: ivory;
	border-radius: 0.5em;
}
#reset {
	border: 2px solid #999;
	font-size: 1.2em;
	font-weight: bold;
	background-color: ivory;
	border-radius: 0.5em;
}
.occasioninfo label {
	margin-right: 1.6em;
}

/* footer section */
footer {
   padding: 0.6em;
   background-color: #34180f;
   color: ivory;
   text-align: center;
   clear: right;
/*
   position: absolute;
   max-width: 80%;
   margin: 10%;
*/
}
footer a:link {
   color: white;
}
footer a:visited {
   color: #ccc;
}

/* small screen/tablet styles */
@media screen and (min-width: 460px), print {
	article {
		padding: 2%;
	}
	figure {
		border: 1px solid #ccc;
		padding: 2%;
		box-shadow: 0 10px 6px -6px #777;
		display: inline-block;
	}
	section {
		text-align:center;
	}
	section h3, section p {
		text-align: left;
	}
	section p:first-of-type {
		display: block;
	}
}

/* standard screen styles */
@media screen and (min-width: 880px) {
	header {
		float: none;
		width: auto;
	}
	div.navigation-menu-button {
		display: none;
	}
	nav.sitenavigation {
		width: 100%;
		padding: 0;
	}
	nav.sitenavigation ul {
		border: none;
		width: 100%;
		display: block;
		position: static;
		text-align: center;
	}
	nav.sitenavigation li {
		display: inline-block;
	}
	h3 {
		float: left;
	}
	figure {
		float: right;
		max-width: 50%;
		margin: 2% 0 2% 2%;
	}
	section {
		padding-bottom: 2%;
	}
	.top-link {
		right: auto;
		left: 0;
	}
}

/* large screen styles */
@media screen and (min-width: 1060px) {
	figure {
		margin: 2% 25% 2% 2%;
	}
	.top-link {
		left: auto;
		right: 0;
	}
}

/* print styles */
@media print {
   body, h1, article, footer {
      color: rgb(0,0,0);
      background: rgb(255,255,255);
   }
   body {
      max-width: 100%;
   }
   nav {
      display: none;
   }
   section {
      page-break-before: always;
   }
}
@page {
   margin: 0.75in;
}